.DS_Store
vue-element-admin/node_modules/
# vue-element-admin/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
001.py
test-001.py


vue-element-admin/tests/**/coverage/
vue-element-admin/tests/e2e/reports
selenium-debug.log


vue-element-admin/.git/
vue-element-admin/.github/
bak/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
